<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="countryRepository" class="com.cognizant.repository.CountryRepository"/>

    <!-- Define BookService bean and inject dependency -->
    <bean id="countryService" class="com.cognizant.service.CountryService">
        <property name="countryRepository" ref="countryRepository"/>
    </bean>
    
</beans>
